body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #EAEDED;
}
header img {
    width: 100px;
    padding: 5px 20px;
}
.logo {
    background-color: #222F3E;
    display: flex;
}
footer img {
    width: 200px;
}
footer .logo {
    justify-content: center;
}
footer .catbar {
    display: flex;
    justify-content: center;
}
.catbar {
    background-color: #354758;
    padding: 5px;
}
.catbar span {
    color: white;
    padding: 5px;      
}
.catbar a {
    color: white;
}
main {
    margin: 20px;
}
.orange-bg {
    display: flex;
    justify-content: center;
    color: white;
    background-color: #F56600;
    padding: 10px;
}
.green-bg {
    background-image: url(./assets/bg-image.png);
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
    padding: 20px;
}
.default-container {
    background-color: white;
}
.title-text {
    display: flex;
    align-items: baseline;
}
.title-text * {
    padding: 10px;
}
.title-text span {
    color: darkcyan;
}
.image-container {
    display: flex;
    justify-content: space-evenly;
}
.image-container img{
    object-fit: cover;
    width: 22%;
    aspect-ratio: 3/4;
    border-radius: 20px;
}
.large-img {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 20px 0;
}
.large-img img {
    width: 100%;
}
.large-img .title-text {
    display: flex;
    justify-content: center;
}
